APP_ENV=local
APP_DEBUG=false
APP_URL=http://localhost/academic_monitor_native_php/public

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=academic_monitor
DB_USER=root
DB_PASS=

SESSION_NAME=academic_monitor_session
